body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body covers the entire viewport */
  background-color: #ffffff;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calculator {
  background-color: #626364;
  padding: 32px 25px;
  border-radius: 40px;
  box-shadow: inset 0 -15px 1px 0px rgba(0, 0, 0, 0.1);
}
.rounded {
  border-radius: 8px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #dcebf2;
  border: none;
  box-shadow: none;
  text-align: right;
  letter-spacing: 1.5px;
  color: #333;
  font-size: 20px;
  font-weight: bolder;
}

table {
  width: 100%;
}

table tr > td {
  padding: 5px;
}

button {
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  padding: 0;
  font-size: 32px;
  font-weight: bolder;
  border: none;
  background-color: #ffffff;
  box-shadow: inset -2px -6px 1px 0px rgba(0, 0, 0, 0.15);
  color: #0d0505;
  cursor: pointer;
  transition: 100ms ease;
  border-radius: 10px;
}

button.calculate-button {
  background-color: rgb(255, 136, 0);
  color: black;
}

button.calculate-button:hover {
  background-color: rgb(211, 112, 0);
}

button:not(.calculate-button):hover {
  background-color: #d3d4d5;
}

/* Styling for footer */
footer {
  margin-top: 20px; /* Add some space between calculator and footer */
  text-align: center; /* Center-align text */
}

footer p {
  font-size: 14px; /* Adjust font size */
}

footer a {
  color: #555; /* Link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Add bold font weight */
  transition: color 0.3s ease; /* Smooth color transition */
}

footer a:hover {
  color: #777; /* Hover color */
}
.pointer-events-none {
  pointer-events: none;
}
