/* Styling for footer */
footer {
    margin-top: 20px; /* Add some space between calculator and footer */
    text-align: center; /* Center-align text */
}

footer p {
    font-size: 14px; /* Adjust font size */
}

footer a {
    color: #555; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Add bold font weight */
    transition: color 0.3s ease; /* Smooth color transition */
}

footer a:hover {
    color: #777; /* Hover color */
}

/* Styles for repository link and button */
.link-container {
    margin-top: 20px; /* Add space between calculator and link container */
}

.repo-link {
    color: #555; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Add bold font weight */
    margin-right: 10px; /* Add space between link and button */
}

.repo-button {
    padding: 8px 16px; /* Add padding */
    font-size: 14px; /* Adjust font size */
    border: none; /* Remove border */
    background-color: #555; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer; /* Add pointer cursor */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.repo-button:hover {
    background-color: #777; /* Button hover background color */
}
